.form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}
input {
  height: 4em;
  min-width: 400px;
  padding: 2em;
}

.btn {
  width: 5em;
  height: 3em;
  list-style: none;
}
