.header_container {
  display: flex;
  border: 0.1px gray solid;
  justify-content: space-between;
  height: 4em;
  align-items: center;
  border-radius: 7px;
}
.header_logo {
  padding: 2em;
}
.header_items {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2em;
  margin: 2em;
}

Link {
  text-decoration: none;
}
